.static {
    height: 60px;
    background-color: #222;
    color: azure;
    border: 2px white solid;
}
.relative {
    position: relative;
    height: 60px;
    background-color: aqua;
    border: 2px black solid;
    top: 20px;
    left: 20px;
}
.absolute {
    position: absolute;
    width: 70px;
    height: 40px;
    background-color: red;
    top: 15px;
    right: 60px;
}

.fixed {
    position: fixed;
    height: 80px;
    width: 80px;
    background-color: blue;
    top: 50px;
}
.sticky {
    position: sticky;
    width: 50px;
    height: 50px;
    background-color: yellow;
    color: azure;
    top: 30px;
    left: 80px;

}